/* 
    selecteor {propiedad : valor}
*/

@font-face {
    font-family: "rustica";
    src: url(../fonts/Rustica.ttf);
}

@font-face {
    font-family: "helveticaneue";
    src: url(../fonts/Helvetica\ Neue\ Regular.otf);
}

@font-face {
    font-family: "webfont";
    src: url(../fonts/000webfont.ttf);
}

body {

    background-color: black;

}

p {
    color: black;
    font-family: helveticaneue,Helvetica,Arial,serif;
    font-size: 18px;
    margin-left: 4px;
    margin-right: 4px;
}

h1 {
    text-align: center;
    color: white;
    font-family: "Roboto",Helvetica,Arial,serif;
}

h2 {
    color: white;
    font-family: helveticaneue,Helvetica,Arial,serif;
    font-size: 48px;
}


h3 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white; 
}

h4 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black; 
}

.title-page {
    text-align: center;
    color: white;
}

#indexpage-title {
    font-family:webfont;
}



header {
    border-bottom: 2px solid white;
}

#header-logo{
    width:15%;
    text-align: left;
}

#flexheader {
    display: flex;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#header-menu{
    width:85%;
   
    vertical-align:top;
}

header div ul {
    list-style-type: none;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}


header div li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}


.body-page {
    margin: auto;
    text-align: center;
    width:70%;
}

.service-container {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    width:60%;
    text-align: center;
    background-color: white;
    height: auto;

}

#service1 {
    margin:8px;
    background-color: gray;
    border: 5px solid black;
}

#service2 {
    margin:8px;
    background-color: gray;
    border: 5px solid black;
}


#service1-img img {
    width: 100%;
}
#service2-img img {
    width: 100%;
}

.partner-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:8px;
}

.partnersIndividual{
    background-color: #fdfeff;
    border: 5px solid white;
} 

.partnersIndividual img {
    width:100%;
}


#contact-container {
    margin: auto;
    background-color: white;
    width: 40%;
}

#maps-container {
    width:100%;
}

footer {
    border-top: 2px solid white;
    margin-top: 20px;
    
}

#footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

footer div li {
    list-style-type: none;
}

footer div li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
}

footer div {
    vertical-align: middle;
}

#footer-logo {
    width:19%;
    /* display: inline-block; */
    margin:0 auto;
    text-align: center;
}

#footer-cop {
    width: 40%;
    /* display:inline-block; */
    margin:0 auto;
    text-align: center;
    vertical-align: middle;
    height: auto;
}

#footer-menu {
    width:19%;
    /* display:inline-block; */
    margin:0 auto;
}


@media (max-width: 768px) {


    #flexheader {
        flex-wrap:wrap;
        width: 80%;
        margin-left: 20%;
        margin-right: 20%;
        justify-content: center;
    }
    
    #header-logo{
        vertical-align: middle;
        margin-top:25px;
    }

    #header-menu {
        width: 50%;
        vertical-align: top;
    }

    header div ul {
        grid-template-columns: 1fr;
    }

    .partner-container {
        grid-template-columns: 1fr;
    }

    .service-container {
        grid-template-columns: 1fr;
        width:90%;
    }
    
    #footer-container {
        display:grid;
        flex-direction:1fr;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    #footer-container ul {
        margin: 0;
        padding: 0;
        width: 90%;
    }

    #footer-container ul li {
        text-align: center;

    }
    
    }